

.trail-box01 ul li {
  list-style-type: none;
  position: relative;
  margin-bottom: 24px;
  font-size: 1.5em;
  color: #646464;
  padding-left: 35px;
}

.trail-box01 ul li:before {
  content: url(../images/register_img04.png);
  position: absolute;
  top: 3px;
  left: 0;
}

.trail-box01 h3 {
  font-size: 0.6em;
}

.recommen-class {
  background: #D9E8E1;
  border-radius: 5px;
  margin-bottom: 20px;
}

.recommen-inr {
  background: url(../images/register_img03.png) no-repeat;
  background-position: 100% 0px;
  background-size: 20%;
  padding: 3% 4%;
}

.recommenL {
  width: 32%;
  font-size: 30px;
  color: #646464;
  display: table;
}

.recommenL h3 {
  font-weight: normal;
  display: table-cell;
  vertical-align: middle;
}
.recommenR {
  width: 68%;
  border-left: 5px solid #ecf4f0;
  padding-left: 10px;
}
