.band {
  width: 100%;
}
.advert {
  width: 100%;
}
.advert .descript {
  width: 88%;
  margin:0 auto;
  margin-bottom: 60px;
}
.advert .info {
  width: 90%;
  margin:0 auto;
}
.advert .info .lett {
  width: 100%;
  background:#fff;
  padding: 20px 30px 40px 30px;
}

/* for yoga-blog */
.yoga-blog {
  font-size: 1.5em;
}

.yoga-blog .yoga-blog-content {
  background: #fff;
  padding: 30px;
}
.yoga-blog-content ul li {
  margin-bottom: 30px;
}

.yoga-blog-content ul li a {  
  color: #8a8aa7;
}

.yoga-blog-content ul li a:hover{  
  color: #649fc8;
}

.yoga-blog-content .date {
  width: 45%;
}

.yoga-blog-content .description{  
  width: 55%;
  float: right;
}

.blog-view-list {
  color: #8a8aa7;
  font-size: 1.3em;
  margin-right: 10px;
  text-decoration: underline;
}

.advert .first {
  width: 100%;
}
.advert .feature {
  width: 100%;
}
.advert .qualifi {
  margin:0 auto;
  margin-bottom: 25px;
}
.advert .lett-01 {
  margin-bottom: 45px;
}
.advert .yoga-care {
  margin-bottom: 25px;
}
.advert .lett-02 {
  margin-bottom: 40px;
}
.advert .safety {
  margin-bottom: 25px;
}
.advert .lett-03 {
  margin-bottom: 60px;
}
