@charset "utf-8";

/* ----start of instructor01 ------*/

.instructor_01,
.instructor_02 {
  padding-bottom: 90px;
}

.name span {
  font-size: 2.5em;
  color: #786450;
}

.qualification ul li:first-child {
   margin-top: 15px;
}

.qualification ul li {
  font-size: 1.3em;
  color: #646464;
}
.message p {
  font-size: 1.5em;
  padding: 20px 0 40px 0;
  color: #646464;
}

/* start of instructor */

.list ul li {
  display: inline-block;
  margin-right: 7%;
  padding-bottom: 40px;
  width: 27%;
}

.list ul li:nth-child(3n+0) {
  margin-right: 0;
}

.instructor07 .message p {
  padding: 0 0 40px 0;
}
