@charset "utf-8";


.transaction {
  background: #fff;
  padding: 70px 40px;
  margin-bottom: 50px;
}

.transaction h2 {
  color: #806d5a;
  font-size: 1.7em;
  text-align: left;
}

.transaction table {
  color: #646464;
  border-top: 1px solid #bbb1a7;
  font-size: 0.6em;
}
.transaction table tr {
  border-bottom: 1px solid #bbb1a7;
}

.transaction table tr th {
  width: 28%;
  border-right: 1px solid #bbb1a7;
  vertical-align: middle;
  text-align: left;
  padding: 15px 0 15px 1.5%;
}

.transaction table tr td {
  padding: 15px 0 15px 1.5%;
  vertical-align: middle;
  font-weight: bold;
}

.transaction table tr td ul li {
  padding: 5px 0;
}

.transaction table tr td ul li span {
  float: left;
  width: 40%;
  font-size: 0.7em;
  display: block;
} 

.transaction table tr td ul li p {
  width: 60%;
  font-size: 0.7em;
  float: left;
  display: block;
}

.transaction table tr td ul li p a {
  color: #649fc8;
}

.transaction table tr td a {
  color: #649fc8;
  display: inline-block;
}

.transaction table tr td ul li p a:hover,
.transaction table tr td a:hover {
  opacity: 0.7;
}
